#ignore eclipse files
.metadata
.classpath
.project
*/.settings/
.recommenders/

#ignore build files
*.class

#Currently it would be useful if everyone had my batch files to run the Server and Debugger Client
#Uncomment below to ignore batch scripts to run builds
#Now just better to ignore becuase of issues with creating batch files on some people's computers
*.bat

#ignore Thumbs.db
Thumbs.db

#IGNORE ANNOYING IntelliJ stuff
.idea

